{% extends "base.html" %}

{% block content %}
<!-- Title -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Outcome</h1>
        <hr class="jumbotron-divider">
        <p> OUTCOME HERE.. </p>
        <form method="post">
        <div class="btn-group btn-group-lg container d-flex justify-content-center" role="group">
          <button type="submit" class="btn btn-outline-success groupbutton" name="restart">Restart</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}