{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Question 6: Is Orthodontic treatment likely at any stage?</h1>
      <hr class="jumbotron-divider">
      <form method="post">
        <div class="btn-group btn-group-lg container d-flex justify-content-center" role="group">
          <button type="submit" class="btn btn-outline-success groupbutton" name="yes">Yes</button>
            <button type="submit" class="btn btn-outline-danger groupbutton" name="no">No</button>
        </div>
      </form>
    </div>
</div>

{% endblock %}